<div id="back-home-box">
    <a id="back-home" href="/">Home</a>
</div>
<div id="aboutText">
    <h1>About</h1>
    <p>Hello, my name is Daniel and I am currently learning everything related to software engineering and specifically web development. I enjoy building complete web applications, both styling them and being responsible for the client side of things as well as the server side. I am very dedicated to my goals and I work hard until I achieve them, I like to work in a team, share ideas with the people around me and learn from each other. I believe that if you really want something you will achieve it, not by being perfect, and by not stopping trying.</p>
</div>
<section id="about-section">
    <article id="firstArticle">
        <div>
            <h2 id="stack">Current Stack</h2>
            <ul>
                <li>JavaScript</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>NodeJS</li>
                <li>Express</li>
            </ul>
        </div>
    </article>
    <article id="secondArticle">
        <div>
            <h2 id="improve">To Improve</h2>
            <ul>
                <li>React</li>
                <li>Redux</li>
                <li>Angular</li>
            </ul>
        </div>
    </article>
    <article id="thirdArticle">
        <div>
            <h2 id="goal">Main Goal</h2>
            <p>To learn as much as i can, improve my skills and never stop grinding.</p>
        </div>
    </article>
</section>