<div id="back-home-box">
    <a id="back-home" href="/">Home</a>
</div>
<div id="aboutText">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam illum incidunt corporis aliquid repellat obcaecati fugit optio quam id. Cumque facere eligendi aut hic, perspiciatis distinctio quaerat quae inventore odio consequatur vel commodi aspernatur nihil minima debitis nobis at, et suscipit magni repellat, in sequi. Suscipit quaerat quisquam distinctio a?</p>
</div>
<section id="about-section">
    <article id="firstArticle">
        <div>
            <h2 id="stack">Current Stack</h2>
            <ul>
                <li>JavaScript</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>NodeJS</li>
                <li>Express</li>
            </ul>
        </div>
    </article>
    <article id="secondArticle">
        <div>
            <h2 id="improve">To Improve</h2>
            <ul>
                <li>React</li>
                <li>Redux</li>
                <li>Angular</li>
            </ul>
        </div>
    </article>
    <article id="thirdArticle">
        <div>
            <h2 id="goal">Main Goal</h2>
            <p>To learn as much as i can, improve my skills and never stop grinding.</p>
        </div>
    </article>
</section>