<div id="back-home-box">
    <a id="back-home" href="/">Home</a>
</div>
<h1 id="certificate-page-title">Certificates</h1>
<section id="certificates-section">
    <div class="certificate-box" id="basic">
        <h2>Basic</h2>
        <a href="https://softuni.bg/certificates/details/121484/248eb7b3">Check It</a>
    </div>
    <div class="certificate-box" id="fundamentals">
        <h2>Fundamentals</h2>
        <a href="https://softuni.bg/certificates/details/129425/98e5cb62">Check It</a>
    </div>
    <div class="certificate-box" id="advanced">
        <h2>Advanced</h2>
        <a href="https://softuni.bg/certificates/details/136457/83f17947">Check It</a>
    </div>
    <div class="certificate-box" id="application">
        <h2>Application</h2>
        <a href="https://softuni.bg/certificates/details/139597/b52f6fc5">Check It</a>
    </div>
</section>