<div>
    <a id="back-home" href="/">Home</a>
</div>
<div id="form-container">

    <div id="close-to-form">
        
        <h2>Send Email</h2> 

        <form action="/contact" method="POST" id="form-box">

            <label class="labels" for="email">Email:</label>
            <input type="email" name="email" id="email">

            <label class="labels" id="label-for-description" for="description">Description:</label>
            <textarea name="description" id="description" cols="30" rows="7"></textarea>

            <a href="/contact">Send</a>
        </form>

    </div>

</div>