<div id="home-container">
    <a href="/about" id="firstTitle"></a>
    <a href="/projects" id="secondTitle"></a>
    <a href="/contact" id="thirdTitle"></a>
    <a href="/certificates" id="fourthTitle"></a>
</div>