<div id="home-container">
    <a href="/about" data-hover="About" id="firstTitle"></a>
    <a href="/projects" data-hover="Projects" id="secondTitle"></a>
    <a href="/contact" data-hover="Contact" id="thirdTitle"></a>
</div>