<div>
    <a id="back-home" href="/">Home</a>
</div>
<section id="projects-section">
    <div id="project-box">
        <h1>Crypto</h1>
        <button><a href="https://crypto-project-backend.herokuapp.com/">Check It</a></button>
    </div>
</section>