<div id="back-home-box">
    <a id="back-home" href="/">Home</a>
</div>
<h1>Projects</h1>
<section id="projects-section">
    <div id="project-box">
        <h2>Crypto</h2>
        <a href="https://crypto-project-backend.herokuapp.com/">Check It</a>
    </div>
</section>