#certificates-section {
    margin-top: 100px;
    text-align: center;
}

#certificate-page-title {
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
    animation-name: certificateText;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes certificateText {
    0% { opacity: 0; font-size: 5px;}
    50% { opacity: 0.5; font-size: 45px;}
    100% { opacity: 1; font-size: 30px;}
}

#certificate-page-title:hover {
    color: rgb(210, 209, 209);
}

.certificate-box {
    border: 1px solid rgb(255, 67, 67);
    display: inline-grid;
    width: 300px;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    animation: certificateBox;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

#basic {
    background-image: url('/img/basics-certificate.png');
}

#fundamentals {
    background-image: url('/img/fundamentals-certificate.png');
}

#advanced {
    background-image: url('/img/advanced-certificate.png');
}

#application {
    background-image: url('/img/application-certificate.png');
}

@keyframes certificateBox {
    0% { opacity: 0; }
    66% { opacity: 0; }
    100% { opacity: 1; }
}

.certificate-box h2 {
    margin: 0;
    padding: 20px 0px 20px 0px;
    opacity: 0.5;
}

.certificate-box h2:hover {
    opacity: 0.7;
}

.certificate-box a {
    display: inline-block;
    margin-top: 190px;
    padding: 10px 0px 11px 0px;
    width: 100%;
    text-decoration: none;
    color: rgb(255, 67, 67);
    font-size: 20px;
}

.certificate-box a:hover {
    animation-name: checkAncor;
    animation-duration: 1s;
    animation-iteration-count: 1;
    font-size: 30px;
    margin-top: 80px;
    padding: 68px 0px 66px 0px;
    opacity: 0.9; 
    color: greenyellow;
}