html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

#main-container {
    min-height: 100%;
    position: relative;
}

#home-container {
    margin-top: 70px;
    display: inline-block;
    margin-left: 400px;
}

#firstTitle {
    text-decoration: none;
    display: block;
    color: white;
    font-size: 120px;
    margin: 5px;
    animation-name: firstTitle;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#secondTitle {
    text-decoration: none;
    display: block;
    color: rgb(255, 67, 67);
    font-size: 120px;
    margin: 5px;
    animation-name: secondTitle;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#thirdTitle {
    text-decoration: none;
    display: block;
    color: rgb(255, 67, 67);
    font-size: 120px;
    margin: 5px;
    animation-name: thirdTitle;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#fourthTitle {
    text-decoration: none;
    display: block;
    color: rgb(255, 67, 67);
    font-size: 120px;
    margin: 5px;
    animation-name: fourthTitle;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#firstTitle::after {
    content: 'Hello.';
}

#firstTitle:hover::after {
    margin-left: 25px;
    animation-name: titleTransition;
    animation-duration: 1s;
    animation-iteration-count: 1;
    content: 'About';
}

#secondTitle::after {
    content: 'I am';
}

#secondTitle:hover::after {
    margin-left: 25px;
    animation-name: titleTransition;
    animation-duration: 1s;
    animation-iteration-count: 1;
    content: 'Projects';
}

#thirdTitle::after {
    content: 'Daniel';
}

#thirdTitle:hover::after {
    margin-left: 25px;
    animation-name: titleTransition;
    animation-duration: 1s;
    animation-iteration-count: 1;
    content: 'Contact';
}

#fourthTitle::after {
    content: 'Delchev';
}

#fourthTitle:hover::after {
    margin-left: 25px;
    animation-name: titleTransition;
    animation-duration: 1s;
    animation-iteration-count: 1;
    content: 'Certificates';
}

@keyframes firstTitle {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes secondTitle {
    0% { opacity: 0; }
    33% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes thirdTitle {
    0% { opacity: 0; }
    66% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fourthTitle {
    0% { opacity: 0; }
    50% { opacity: 0; }
    67% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes titleTransition {
    0% { margin-left: 0px; }
    100% { margin-left: 25px; }
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(36, 36, 36);
    text-align: center;
    color: rgb(122, 122, 122);
}

footer p {
    margin: 5px;
}

footer p span {
    color: rgb(255, 67, 67);
}

#facebook {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(41, 41, 118);
    margin: 5px 5px 10px 5px;
}

#facebook:hover {
    background-color: rgb(41, 41, 118);
    border-radius: 10%;
}

#twitter {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(74, 197, 250);
    margin: 5px 5px 10px 5px;
}

#twitter:hover {
    background-color: rgb(60, 194, 251);
    border-radius: 10%;
}

#linkedin {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(50, 113, 195);
    margin: 5px 5px 10px 5px;
}

#linkedin:hover {
    background-color: rgb(42, 109, 197);
    border-radius: 10%;
}

#github {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(218, 76, 48);
    margin: 5px 5px 10px 5px;
}

#github:hover {
    background-color: rgb(216, 70, 40);
    border-radius: 10%;
}

#error {
    display: inline-block;
    font-size: 30px;
    color: red;
    width: 76%;
    text-align: center;
}

#error p {
    margin: 0;
    font-size: 50px;
}

#error p:hover {
    font-size: 49px;
    color: rgb(210, 0, 0);
}

#successful {
    display: inline-block;
    font-size: 30px;
    color: green;
    width: 76%;
    text-align: center;
}

#successful p {
    margin: 0;
    font-size: 50px;
}

#successful p:hover {
    font-size: 49px;
    color: rgb(0, 110, 0);
}